body{
  background-color: #f9f3f3;
  margin: 0% 10%;
  padding: 0% 10%;
  position: relative;
  text-align: center;
}

hr {
  border: dotted #df4d160 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}

#img-div {
  width: 100%;
  background: white;
}
 
 #image {
width: 100%;
height: auto;
max-width: 625px;
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;
}

